*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: yellow;
    color: black;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
}

.post-box{
    margin: 20px 0;;
}

